In [1]:
a = 3
b = 4
a + b

7

In [2]:
a * b

12

In [3]:
a / b

0

In [4]:
a/(b*1.0)

0.75

In [5]:
a ** b

81

In [6]:
7 // 4

1

In [7]:
-7 // 4

-2

In [10]:
a = "Python's favorite food is perl"
b = '"I love you." He said.'
c = 'Python\'s favorite food is perl'
d = "Life is too short.\nYou need python"
e = """Life is too short. 
You need python."""
print(a)
print(b)
print(c)
print(d)
print(e)

Python's favorite food is perl
"I love you." He said.
Python's favorite food is perl
Life is too short.
You need python
Life is too short.
You need python.

In [11]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [12]:
head * 2

'PythonPython'

In [14]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [16]:
a = "Life is too short. You need Python."
a[0], a[1], a[2], a[3]

('L', 'i', 'f', 'e')

In [18]:
a[-1], a[-2], a[-3], a[-4]

('.', 'n', 'o', 'h')

In [19]:
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [21]:
b = a[0:4]  #0<=index<4
b

'Life'

In [22]:
b = a[19:]
b

'You need Python.'

In [23]:
b = a[:17]
b

'Life is too short'

In [24]:
a[:]

'Life is too short. You need Python.'

In [25]:
a[19:-7]

'You need '

In [27]:
a = "19980301Sunny"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

1998
0301
Sunny

In [30]:
# 문장열의 요소를 바꿀 수 없음.
a = "Pithon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [31]:
a[:1] + 'y' + a[2:]

'Python'

In [32]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [33]:
"I eat %s apples." % "five" # 문자열 대입 시 따옴표를 꼭 써야 함.

'I eat five apples.'

In [34]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

In [35]:
"Error rate is %d%%" % 2

'Error rate is 2%'

In [36]:
# 문자 개수
a = "hobby"
a.count('b')

2

In [2]:
# 문자 위치
a = "My hobby is playing basketball."
a.find('g')

18

In [3]:
a.find('b')  # 여러 개면 까장 앞의 위치를 알려줌.

5

In [4]:
a.find('x')

-1

In [ ]:
# 문자 위치2